
{% extends "layout.njk"%}

{% block head %}
<title>sobrew Fernandim</title>
{%endblock%}


{% block content %}

<div id= "wrapper">
    <img src="https://lh3.googleusercontent.com/a-/AOh14GinkR4Ft0T7ZDuBzWy0qfY2DaKEaPwb-vCw8T3ldQ=s96-c-rg-br100" alt="bielzinho">
    <h1>Gabriel Fernandes</h1>
    <h2>Programador - Designer</h2>
    <p>Programador junior, construindo um futuro no nomadismo digital</p>
        


    <div id="links-footer" class="links">
        <a href="https://github.com/seufernandez" target ="_blanket">Github</a>
        <a href="https://www.youtube.com/channel/UC2_WpOMeV5WLX1R4GFPqWzQ?view_as=subscriber"target="_blanket">YouTube</a>
        <a href="https://www.instagram.com/ogabrielfernandez/?hl=pt-br" target="_blanket">Instagram</a>
    </div>  

    {% endblock %}