



<!DOCTYPE html>
<html>
    
    <head>
        
        {% block head %}
        <title>ferdinando</title>
            <link href="" rel="stylesheet">

            <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">
        {% endblock %}
        

        <link rel="stylesheet" href="/styles.css">
        
    </head>
    

    <body>  
        
        <header>
            <div class="links">
                <a href="/">Contato</a> 
                <a href="/portfolio">Videos</a>
            </div>
            
           
        </header>
        {% block content %}{%endblock%}

    </body>

</html>